<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Controllers</title>
    <!-- Add the AngularJS CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="my_app">
<div ng-controller="form_controller as fc">
    <label>
        First Name:
        <input ng-model="fc.form.first_name" type="text">
    </label>
    <br>
    <label>
        Last Name:
        <input ng-model="fc.form.last_name" type="text">
    </label>
    <br>
    <label>
        Email:
        <input ng-model="fc.form.email" type="text">
    </label>
    <br>
    <label>
        Comments:
        <textarea ng-model="fc.form.comments" ng-disabled="fc.max_reached()"></textarea>
    </label>
    <br>
    <button ng-click="fc.addPerson()">Enter Person</button>
    <br>
    <p>Characters Left: {{fc.length_left()}}</p>
    <table>
        <tbody>
        <tr>
            <th>Full Name</th> <th>Email</th> <th>Comments</th>
        </tr>
        <tr ng-repeat="person in fc.form_array">
            <td>{{person.first_name + " " + person.last_name}}</td> <td>{{person.email}}</td> <td>{{person.comments}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    var app = angular.module("my_app", []);
    app.controller("form_controller", function(){
        this.form = {
            first_name: "",
            last_name: "",
            email: "",
            comments: ""
        };
        this.form_array = [
            {first_name: "Lance",
            last_name: "Takiguchi",
            email: "coolbean@awesome.com",
            comments: "Water Melon"}
        ];
        this.addPerson = function(){
            this.form_array.push(this.form);
            this.form = {
                first_name: "",
                last_name: "",
                email: "",
                comments: ""
            };
        };
        this.max_length = 25;
        this.length_left = function(){
            console.log(this.form.comments);
            return this.max_length - this.form.comments.length;
        };
        this.max_reached = function(){
            return this.length_left() <= 0;
        };
    })
</script>
</html>